.header{
    margin-bottom: 1vh;
}

.top__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
}

.name,.inform__navivation,.burger__box{
    width: 33%;
}

.name,.inform__navivation{
    font-family: title;
    font-size: 4vh;
    letter-spacing: 0.5vw;
    
    position: relative;
    
    svg{
        position: absolute;
        width: 50%;
        top: -100%;
        left: 49%;
        transform: translate(-50%);
        z-index: -1;
    }
}


.inform__navivation{
    font-size: 2.3vw;
    padding: 2vw;
    text-align: center;
}

.burger__box{
    display: flex;
    justify-content: flex-end;
    
}

.burger{
    width: 5vw;
    height: 5vw;
    border: 3px solid #1d1d1b;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 0;
    border-bottom: 6px solid #1d1d1b;
    border-right: 6px solid #1d1d1b;
    &:hover{
        -webkit-animation: burger-hover 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s forwards;
        animation: burger-hover 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s forwards;
    }
    transition: 1s;
    span{
        display: block;
        width: 3vw;
        height: 3px;
        background-color: #1d1d1b;
        border-radius: 3px;
        border: 1px solid #1d1d1b;
    }
    
}

@keyframes burger-hover {
    0% {
        border-bottom: 6px solid #1d1d1b;
        border-right: 6px solid #1d1d1b;
    }

    25% {
        border-bottom: 3px solid #1d1d1b;
        border-right: 6px solid #1d1d1b;
        border-top: 6px solid #1d1d1b;
    } 

    50% {
        border-right: 3px solid #1d1d1b;
        border-top: 6px solid #1d1d1b;
        border-left: 6px solid #1d1d1b;
    }

    75% {
        border-top: 3px solid #1d1d1b;
        border-left: 6px solid #1d1d1b;
        border-bottom: 6px solid #1d1d1b;
    }

    100% {
        border: 3px solid #1d1d1b;
    }
}

.bottom__header{
    background-color: #1d1d1be5;
    font-weight: 700;
    color: #cdc6be;
   
    font-size: 1.5vw;
}

.nav__page__list{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__page__item{
    padding: 1vw 2vw;
    transition: 1s;
    color: #cdc6be;
    &:hover{
        background-color: #cdc6be;
        color: #1d1d1b;
        transform: scale(1.05);
        transition: 1s;
    }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}



@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}


@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}


@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both;
  animation: animate-svg-fill-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both;
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both;
  animation: animate-svg-fill-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both;
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s both;
  animation: animate-svg-fill-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s both;
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
  animation: animate-svg-fill-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

