.theme__col{
    position: relative;
    width: 33%;

    h2,h3{
        letter-spacing: 0.3vw;
        font-size: 2.6vw;
        font-weight: 700;
    }

    p{
        font-size: 2.4vw;
    }

    span{
        font-weight: 700;
    }
    &:first-child,&:last-child{
        width: 30%;
    }

    &::after{
        content: '';
        display: block;
        height: 100%;
        width: 0.3vw;
        border-radius: 0.3vw;
        position: absolute;
        left: 100%;
        top: 0%;
        background-color: #1d1d1b;
    }
}

.theme__toggle{
    padding: 2vw 1vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: #1d1d1b;
        transform: scale(1.05);
        transition: 1s;
        h2{
            color: #cdc6be;
        }
    }
}